<?php $partViewer->view('layouts/header'); ?>
<?php $partViewer->view('menu/up_menu'); ?>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><?php echo($data['title']);?></h1>
            </div>
        </div>
        <div class="row">
            <div class="alert alert-success" role="alert">
            <div class="caption">
                <h3><?php echo($messages['resultMessage']);?></h3>
                <p>
                    <?php if(array_key_exists('articleId', $data)):?>
                    <a href="<?php echo(Project::getBaseUrl())?>articles/get/<?php echo($data['articleId'])?>" class="btn btn-success" role="button">Перейти к статье</a>
                    <?php endif;?>
                    <a href="<?php echo(Project::getBaseUrl())?>articles/" class="btn btn-default" role="button">Список статей</a>
                </p>
            </div>
            </div>
        </div>
    </div>
<?php $partViewer->view('layouts/footer'); ?>