
<script src="<?php echo(Project::getBaseUrl()); ?>js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="<?php echo(Project::getBaseUrl()); ?>js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="<?php echo(Project::getBaseUrl()); ?>js/plugins/metisMenu/metisMenu.min.js"></script>

<!-- DataTables JavaScript -->
<script src="<?php echo(Project::getBaseUrl())?>js/plugins/dataTables/jquery.dataTables.js"></script>

<!-- Datetimepicker http://www.malot.fr/bootstrap-datetimepicker/demo.php -->
<script src="<?php echo(Project::getBaseUrl()); ?>js/bootstrap-datetimepicker.js"></script>

<!-- Datetimepicker language -->
<script src="<?php echo(Project::getBaseUrl()); ?>js/locales/bootstrap-datetimepicker.ru.js"></script>

<!-- Technomedia JS -->
<script src="<?php echo(Project::getBaseUrl()); ?>js/technomedia.lang.ru.js"></script>
<script src="<?php echo(Project::getBaseUrl()); ?>js/technomedia.js"></script>


</body>
</html>