.logo-media {
    color: #D65C4F;
}

#gif_loader {
    position: fixed;
    top: 50%;
    left: 50%;
}

#edit {
    margin-top: -3px;
    margin-right: 3px;
}

#add {
    margin-top: -3px;
}

.tree {
    padding-left: 0;
}

.tree,
.tree ul {
    list-style: none;
}

.tree li {
    position: relative;
}

.tree li a {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #333;
    text-decoration: none;
    outline: 0 none;
}

.tree ul:before {
    position: absolute;
    border-left: 1px dotted #333;
    content: "";
    width: 30px;
    top: 25px;
    left: 5px;
    bottom: 17px;
}

.tree ul > li:before {
    position: absolute;
    border-top: 1px dotted #333;
    content: "";
    width: 30px;
    top: 13px;
    left: -33px;
}

li.active > a > span.fa-folder-o:before {
    content: "\f115" !important;
}

.tree .selected-tree {
    color: #fff;
    text-decoration: none;
    background-color: #428bca;
    /*background-color: #a6d9aa;*/
}

.scroll-box {
    overflow-y: scroll;
    height: 380px;
    border-radius: 4px;
    padding-left: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #ddd;
}

.selected-rubric {
    color: #00aa00;
    margin-right: 10px;
}

.scroll-box-image {
    overflow: scroll;
    height:615px;
    width: 810px;
    margin-bottom: 10px;
    border-radius: 4px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #ddd;
}

.preview-container {
    overflow: hidden;
    border-radius: 4px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #ddd;
    display: block;
    margin-right: auto;
    margin-left: auto;
}


